body {
  background-color: #F0F0F0;
  margin:  0px;
  border:  0px;
  padding: 0px;
  
  font-size: 24px;
  font-family: Consolas, 微軟正黑體;
}

#div_head {
  background-color: #FFC0CB;
  margin:  0px;
  border:  0px;
  padding: 0px;
  
  height:  64px;
  width:   100%;
}

#div_head_shadow {
  background-color: #d09da6;
  margin:  0px;
  border:  0px;
  padding: 0px;
  
  height:  6px;
  width:   100%;
}

#div_logo {
  background-color: #FFC0CB;
  margin:  0px;
  border:  0px;
  padding: 0px 24px;
  
  text-align: center;
  line-height: 60px;
  
  height: 64px;
  width:  auto;
  
  float: left;
}

#div_logo:hover {
  background-color: #d09da6;
  font-size: 25px;
  cursor: pointer;
}
#div_logo:active {
  background-color: #a27c82;
}

#div_body {
  background-color: #F0F0F0;
  margin:  0px;
  border:  0px;
  padding: 24px 24px;
  
  height: auto;
  width:  auto;
}